<%- include('header') %>


<div class="box" id="heading">
  <h1>ToDoList</h1>
</div>

  <div class="box">
    <p>Pls Login or Register to continue</p>
    <hr>
    <a class="btn btn-primary" href="/register" role="button">Register</a>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
  </div>


<%- include('footer') %>
